.sidebar {
    width: 219px;
    /*padding: 0 21px 0 20px;*/

}

.nav {
    margin-top: 60px;
}
.item {
    width: 178px;
    height: 40px;
    margin: 0 auto;
}
.item a {
    font-weight: 400;
    font-size: 14px;
    color: #052c65;
}
.item a i {
    margin-right: 5px;
}
.dropdown-toggle::after {
    display: none;
}
.item a .arrow {
    margin-left: 65px;
}
.balance {
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #052c65;
}
.balance span {
    font-weight: 500;
    font-size: 14px;
    color: #0d6efd;
}
.main {
    padding: 100px 94px 173px 84px;
}
.container-text {
    font-weight: 500;
    font-size: 40px;
    color: #052c65;
}

.user {
    padding: 20px 20px 40px 20px;
}