.income-actions {
    margin-top: 40px;
}
.income-action {
    border: 1px solid #ced4da;
    border-radius: 12px;
    width: 352px;
    height: 121px;
    padding: 20px;
    line-height: 1;
}
.income-action a {
    font-weight: 500;
    font-size: 28px;
    color: #ced4da;
}
.income-action-title {
    font-weight: 500;
    font-size: 28px;
    color: #290661;
    margin-bottom: 10px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*display: block;*/
}
.modal-window {
    border: 1px solid #ced4da;
    border-radius: 12px;
    width: 530px;
    height: 184px;
    background: #fff;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;

}
.modal-window-title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #290661;
    margin-bottom: 20px;
    line-height: 1;
}
