
.container-tabs {
    gap: 20px;
}
.actions-button {
    margin-top: 40px;
    margin-bottom: 40px;
}
/*DatePicker*/
.date-content {
    position: relative;
    padding: 9px 12px;

    /*height: 37px;*/
}
.date-content b {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #000;
}

.fake-date {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #6c757d;
}

.real-date {
    position: absolute;
    width: 100%;
    left: -18px;
    top: 9px;
    opacity: 0;
    cursor: pointer;
    border: 0;



}
