.main-pie {

}
.container-tabs {
    gap: 20px;
    /*margin: 100px 0 0 60px;*/
    margin-top: 60px;
}

.btn-actions {
    width: 100px;
    height: 37px;
}
ul {

}

/*legend*/

.legend {
    margin-top: 30px;
    display: flex;
    /*flex-direction: column;*/
    gap: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    color: #000;
}

.legend-color {
    width: 35px;
    height: 10px;

}
.red {background: red;}
.orange { background: orange; }
.yellow { background:yellow; }
.green { background: green; }
.blue { background: blue; }



/*Pie*/
.main-pie {
    max-width: 1043px;
    margin-top: 140px;
    /*margin: auto;*/
}
.pie-income-text {
    font-weight: 500;
    font-size: 28px;
    color: #290661;
}
.pie-income-content {
    width: 437px;
    height: 467px;
}

.pie-income {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-image: conic-gradient(
            red 0% 30%,
            orange 30% 60%,
            yellow 60% 75%,
            green 75% 85% ,
            blue 85% 100%
    );
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.pie-expenses {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-image: conic-gradient(
            red 0% 30%,
            orange 30% 60%,
            yellow 60% 75%,
            green 75% 85% ,
            blue 85% 100%
    );
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}




